<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/about.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- <nav class="navbar">
        <ul class="nav_links">
            <li> <a href="/"> Home </a></li>
            <li> <a href="/about"> About Us </a></li>
            <li> <a href="/project"> About Project </a></li>
        </ul>
    </nav> -->

    <nav class=" w-full p-4 text-gray-500">
        <ul class="flex justify-center space-x-4">
          <li><a href="/" class="hover:text-black">Home</a></li>
          <li><a href="/about" class="hover:text-black">About Us</a></li>
          <li><a href="/project" class="hover:text-black">Project</a></li>
        </ul>
      </nav>

    <section class="team-section">
        <h2>Meet Our Team</h2>
         <!-- <span>Meet Our Team</span> -->

        <!-- prachi  -->
        <div class="team-container">
            <div class="team-member">
                <img src="prachi.jpg" alt="">
                <h3>Prachi Mehra</h3>
                <p class="enroll">0801CA231102</p>
                <!-- <p class="title">Database Manager</p> -->
            </div>
            <!-- prashant -->

            <div class="team-member">
                <img src="prashant.jpg" alt="">
                <h3>Prashant Pasi</h3>
                <p class="enroll">0801CA231108</p>
                <!-- <p class="title">Frontend Developer</p> -->
            </div>

            <!-- pranay -->

            <div class="team-member">
                <img src="pranay.jpg" alt="">
                <h3>Pranay Shrivastava</h3>
                <p class="enroll">0801CA231105</p>
                <!-- <p class="title">Backend Developer</p> -->
            </div>

        </div>
    </section>
</body>
</html>