* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "poppins"; */
  list-style: none;
  text-decoration: none;
}
body {
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10px;
}
.nav_links {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.nav_links li {
  /* display: inline-block;
    padding: 0px 20px; */
  padding: 10px 20px;
  border: 1px solid #8a8a8a89;
  border-radius: 50px;
  font-weight: 500;
  color: #000000bb;
  /* color: white; */
  transition: all ease 0.4s;
  position: relative;
  font-size: 18px;
  overflow: hidden;
}
.nav_links li::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: black; */
  background: white;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

.nav_links li:hover::after {
  bottom: 0;
  border-radius: 0;
}

.nav_links li a {
  /* transition: all 0.3s ease 0s; */
  /* text-decoration: none; */
  /* color: #000000bb; */
  color: whitesmoke;
  z-index: 9;
  position: relative;
}

.nav_links li a:hover {
  /* color: black; */
  /* color: white; */
  color: #000;
}

.service {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem 8%;
  color: #fff;
  /* background-color: black; */
  background-color: rgb(107,114,128);
}
.service .content {
  display: flex;
  justify-content: space-between;
  margin: 4.8rem 0;
}
.service .content h1 {
  font-size: 3.7rem;
  line-height: 3.7rem;
  letter-spacing: 1px;
  width: 40%;
}
.service .content p {
  width: 40%;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.cards .card {
  height: 220px;
  width: 420px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  padding: 3rem 8%;
  position: relative;
  z-index: 1;
  background-color: transparent;
  /* overflow: hidden ; */
  /* transition: .6s; */
}
.cards .card h3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 16px;
}
.cards .card:after {
  position: absolute;
  content: "";
  height: 40%;
  /* width: 8%; */
  /* height: 20%; */
  width: 8%;
  top: 30%;
  right: -4%;
  background-color: #fff;
  z-index: -1;
  border-radius: 28px;
  transition: 0.6s;
}
.cards .card:hover {
  color: #000;
}
.cards .card:hover:after {
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
}
